<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> -->
        <link rel="stylesheet" href="static/css/foundation.css" />
        <link rel="stylesheet" type="text/css" href="static/css/sms.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="static/css/font-awesome-4.3.0/css/font-awesome.min.css" />
        <script src="static/js/jquery-2.1.3.min.js"></script>
        <script src="static/js/vendor/modernizr.js"></script>
        <script src="static/js/speaker.js"></script>
        <script src="static/js/dictation.js"></script>
        <script src="static/js/sms.js"></script>
        <script src="static/js/setting.js"></script>
        <title>Hello World</title>
    </head>
    <body onload="sms.init();dictation.start();setting.init();">
          <div class="row">
            <div class="small-1 columns" id="menuclick"><i class="fa fa-bars fa-2x"></i></div>
            <div class="small-11 columns" id="menubar">
              <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                  <li class="name">
                    <h1><a href="#">SnowProblem</a></h1>
                  </li>
                </ul>

                <section class="top-bar-section">
                  <!-- Right Nav Section -->
                  <ul class="right">
                    <li class="active"><a id="set-talking">Talking!</a></li>
                    <li><a id="set-setting">Setting!</a></li>
                  </ul>
                </section>
              </nav>
            </div>
          <div>
          <div class="row setting">
            <div class="small-5 small-centered columns">
              <div class="row search">
                <div class="small-3 columns">
                  <label class="right inline"><i class="fa fa-search"></i></label>
                </div>
                <div class="small-9 columns">
                <input type="text" id="search-language" placeholder="language">
                </div>
              </div>
            </div>
          </div>
          <div class="row search setting">
            <div class="small-5 small-centered columns">
              <ul id="language-list">
              </ul>
            </div>
          </div>
          <div class="row talking">
            <div class="small-5 small-centered columns" id="face">
              <img src="static/img/1.jpg">
              <img src="static/img/2.jpg">
              <img src="static/img/3.jpg">
              <img src="static/img/5.jpg">
              <img src="static/img/7.jpg">
              <img src="static/img/image_139.jpg">
              <img src="static/img/image_153.jpg">
              <img src="static/img/image_166.jpg">
              <img src="static/img/image_180.jpg">
              <img src="static/img/image_192.jpg">
              <img src="static/img/image_205.jpg">
              <img src="static/img/image_218.jpg">
              <img src="static/img/image_231.jpg">
              <img src="static/img/image_245.jpg">
              <img src="static/img/image_260.jpg">
              <img src="static/img/image_275.jpg">
              <img src="static/img/image_290.jpg">
              <img src="static/img/image_305.jpg">
              <img src="static/img/image_320.jpg">
              <img src="static/img/image_335.jpg">
              <img src="static/img/image_347.jpg">
              <img src="static/img/image_427.jpg">
              <img src="static/img/image_428.jpg">
              <img src="static/img/image_558.jpg">
            </div>
          </div>
          <div class="row middle talking">
            <div class="small-12 columns">
              <ol class="chat" id="list">
              </ol>
            </div>
          </div>
          <div class="row bottom talking">
            <div class="small-5 small-centered columns">
              <span id="final_transcript" style="color: blue"></span><span id="intermin_transcript" style="color: red"></span>
            </div>
          </div>
    </body>
</html>
